body {
    background-image: url(images/background-atvd-web.png);
    background-size: cover;
}

.heading {
    background-color: darkblue;
    color: white;
    padding: 43px;
    margin: -12px;
    text-align: center;
    border: none;
    font-family: Arial;
}

.heading2 {
    background-color: #aad7e6;
    color: white;
    padding: 6px;
    width: auto;
    margin-left: -100px;
    margin-right: -100px;
    text-align: center;
    border: none;
}


img {
    margin-left: 47px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

h1 {
    color: darkblue;
    font-family: Arial;
    font-size: 45px;
}
li{
    color: darkblue;
    font-family: arial;
    font-size: 25px;
}