* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 300px 1fr 1fr;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-areas:
        'box content content'
        'box content content'
        'box content content';
    background-size: cover;
}

body.level1 {
    background-image: url('../images/background.png');
}
body.level2 {
    background-image: url('../images/background2.jpg');
}
body.level3 {
    background-image: url('../images/background3.jpg');
}
body.level4 {
    background-image: url('../images/background4.jpg');
}


#box-stats {
    grid-area: box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: black;
    opacity: 0.7;
    border: solid white 3px;
    box-shadow: 0 0 30px white;
    margin: 10px;
}

.box-stats-item img{
    width: 50px;
    height: 50px;
}

.box-stats-item #relogio{
    display: flex;
    margin-left: 40%;
}

.box-stats-item p{
    color: white;
}

.box-stats-item span{
    margin-left: 40%;
    color: white;
}

.box-stats-item{
    display: flex;
    align-items: center;
    width: 80%;
    height: 30%;
    margin: 20px;

}

#content{
    display: flex;
    justify-content: center;
    grid-area: content;
    align-items: flex-end;
    width: 1fr;
    height: 1fr;
}

#naveAmiga{
    position: relative;
    left: 0;
}

#naveAmiga img{
    height: 150px;
    width: 150px;
}


#paused{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
    position: absolute;
    height: 100%;
    width: 100%;
}

#paused p{
    color: white;
    font-size: 80px;
    opacity: 100%;
}

.shot {
    position: absolute;
    width: 20px;
    height: 40px;
    background-image: url(../images/missil.png);
    background-size: cover;
}

#containerEnemies{
    position: absolute;
    top: 5px;
    display: flex;
    gap: 200px;

}

#naveInimiga{
    height: auto;
    width: auto;
    
}

#naveInimiga img{
    height: 100px;
    width: 100px;
}
