* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria;
}

header {
    grid-area: header;
    background-color: rgb(255, 255, 255);

}

.content {
    grid-area: content;
    background-color: white;

}

.menu {
    grid-area: menu;
    background-color: white;
    height: 100%;
    width: 230px;
    top: 0;
    position: fixed;
}

body {
    display: grid;
    grid-template-columns: 230px 1fr 0px;
    grid-template-rows: 30px 1fr 50px; 
    grid-template-areas: 
        'header header header'
        'menu content content'
        'footer footer footer';
    background-color: black;
}

a{
    transition: color .3s;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

h1{
    font-size: 30px;
}

.menu,ul,li, a:hover{
    color: rgb(185, 0, 0);
}
